{% extends '_base.html' %}

{% block title1 %}
    listha
{% endblock title1 %}

{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-9">
                {% for postt in post_list %}
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ postt.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted small py-2">{{ postt.date_of_creation }}</h6>
                            <p class="card-text py-3">
                                {{ postt.text }}
                            </p>
                            <a href="{% url 'new_pos' postt.id %}" class="btn btn-sm btn-success"> read More...</a>

                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


{% endblock %}
